@charset "UTF-8";

@font-face {
    font-family: 'Croissant One';
    src: url('fonts/CroissantOne-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Questrial';
    src: url('fonts/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
}

* {
    font: normal 1em Arial, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #615216;
    --cor1: #FAE282;
    --cor2: #E0BE34;
    --cor3: #665923;
    --cor4: #AD9328;
    --cor5: #003cffcb;

    --fonteTítulo: 'Croissant One', cursive;
    --fonte1: 'Questrial', cursive;
}

body {
    background-color: var(--cor1);
}

header {
    /*background-image: linear-gradient(to bottom, var(--cor1), var(--cor4), var(--cor3));*/
    background-color: var(--cor5);
    box-shadow: rgba(0, 0, 0, 0.555) 1px 3px 5px;
    height: 22vh;
    margin-bottom: 30px;
}

header > h1 {
    text-align: start;
    font: bolder 2em var(--fonteTítulo);
    margin-top: 20px;
    margin-left: 8%;
}

img#logo {
    width: 10vw;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.555) 1px 3px 6px;
}

#container {
    position: absolute;
    left: 7%;
    top: 3%;
}

nav {
    position: relative;
    text-align: end;
    margin-right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

nav > a {
    font-family: var(--fonte1);
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 10px;
}

nav > a:hover {
    text-decoration: underline;
    color: white;
}

main {
    background-color: white;
    min-width: 98vw;
}

#img01 {
    background-image: url('imagens/wallpaper001.jpg');
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    font-family: var(--fonte1);
    text-align: center;
    background-color: var(--cor4);
    padding: 1px;margin-top: 10px;
}