@charset "UTF-8";

@font-face {
    font-family: 'Monserrat';
    src: url('fonts/static/Montserrat-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    font-family:  Arial, Helvetica, sans-serif;
}

header {
    background-color: orangered;
    width: 100vw;
    height: 90px;
}

header > h1 {
    position: relative;
    font-family: 'Monserrat';
    padding: 20px;
    left: 110px;
}

#logo {
    position: absolute;
    padding: 5px;
    left: 10px;
}


